{% for item in optionArray %}
    <option value='{{ item.id }}'
            {% set types = app.request.query.get(type) %}
            {% if types is defined %}
                {% for type in types %}
                    {% if type == item.id %}
                        {{ 'selected' }}
                    {%  endif %}
                {%  endfor %}
            {% endif %}
    >
        {{ item.title }}
    </option>
{% endfor %}